body {
    background-color: #fbfbfb;
}
h1 {
    font-size: 4em;
    color: brown;
}
h2 {
    font-size: 2em;
    color: grey;
    font-weight: bold;
}
#cabecera {
    height: 180px;
    background-color: #C559BA;
    color: white;
}
#cabecera .titulo {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#cabecera #logo {
    width: 10%;
}
#cabecera .menu{
  float: right;
}
#cabecera .menu ul {
    list-style: none;
}
#cabecera .menu ul li {
    display: inline-block;
}
#cabecera .menu ul li a{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    padding-right: 15px;
}

#cabecera .menu ul li a:hover{
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    padding-right: 15px;
    font-weight: bold;
}
.banner {
    background-color: #8C939B;
    height: 400px;
}

.banner .izquierda {
    width: 60%;
    float: left;
}

.banner .derecha {
    width: 30%;
    float: right;
}
